
<%= simple_form_for @job do |form| %>
  <p>
    <%= form.input :title %>
  </p>
  <p>
    <%= form.input :from %>
  </p>
  <p>
    <%= form.input :to %>
  </p>
  <p>
    <%= form.button :submit %>
  </p>
<% end %>
